use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
config :phoenix_exrm_edeliver_file_logs, PhoenixExrmEdeliverFileLogs.Endpoint,
  secret_key_base: "asdfkasdljflkasdjfasdkfjalsdkfjlasdkfjasa"

# Configure your database
config :phoenix_exrm_edeliver_file_logs, PhoenixExrmEdeliverFileLogs.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "invoices_prod",
  pool_size: 20
